//- Render all the stats about the user
#quiz-stats.hidden.quiz-section
  h2 Stats:
  h4 Quizzes:
  ul
    li
      strong Quizzes Passed 
      span#quizzes-passed
    li
      strong Quizzes Failed 
      span#quizzes-failed
    li
      strong Total Quizzes 
      span#total-quizzes
    li
      strong Quiz Passed Percent 
      span#quiz-passed-percent
  h4 Words:
  ul
    li
      strong Words Passed 
      span#words-passed
    li
      strong Words Failed 
      span#words-failed
    li
      strong Total Words 
      span#total-words
    li
      strong Words Passed Percent 
      span#words-passed-percent
    li
      strong Best Words 
      span#words-best
    li
      strong Worst Words 
      span#words-worst

  p: a.results.hidden(href="/results") Back to results