<!DOCTYPE html>
<html ng-app="app" lang="en">

<head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>

    <script src="main.js"></script>
</head>

<body ng-controller="mainController">

    <img class="theMap" ng-click="addMarker($event)" src="topo-co.jpg">
    
    <form ng-submit="addNote()" ng-show="addingANote" style="position:absolute; top:{{clickSpot.y-6}}vh; left:{{clickSpot.x}}vw;">
        <input ng-model="noteInput">
        <button type="submit">Add note</button>
    </form>

    <div ng-repeat="marker in markers" ng-click="removeMarker($index)" class="marker" style="left:{{marker.x}}vw;top:{{marker.y}}vh;" data-index="{{$index}}">
        <div class="note">{{marker.note}}</div>
    </div>



</body>

</html>